.container{
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    cursor:default;
}
.top_bar{
    background:rgb(34, 33, 33);
    color:white;
    height:60px;
    display:flex;
}
.left{
    display:flex;
    font-size: 14px;
    margin-top:15px;
    margin-left:100px;
}
.left i{
    margin-left:20px;
    margin-top:5px;
    margin-right:10px;
}
.address:hover{
    color:rgb(233, 182, 14);
    cursor:pointer;
    transition: all 0.5s ease-out 0s;

}
.phone{
    display:flex;
}
.phone div{
    margin-left:10px;
}
.phone1:hover{
    color:rgb(233, 182, 14);
    cursor:pointer;
    transition: all 0.5s ease-out 0s;    
}
.phone3:hover{
    color:rgb(233, 182, 14);
    cursor:pointer;
    transition: all 0.5s ease-out 0s;
}
.top_bar i{
    color:rgb(233, 182, 14);
}
.right{
    margin-left:70%;
    margin-top:-40px;
    text-align: center;
    color:white;
}
.right i{
    padding:10px;
    margin-top:-70px;
}
.right i:hover{
    cursor: pointer;
    color:rgb(233, 182, 14);
    transition: all 0.25s ease-out 0s;

}
.slideshow-container {
    width: 100%;
    height:auto;
    position: relative;
    margin: auto;
    top:10px;
}
.slideshow-container img{
    height:900px;
}
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* margin-top: -22px; */
    color: white;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    /* margin-top:-40%; */
    width: 100%;
    text-align: center;
    animation:Moveupfadein 1.6s ease-out forwards;
    font-weight: bolder;
  }
  .sub_text{
      font-size:100px;
      text-transform: uppercase;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 20;
    display:flex;
  }
  .numbertext img{
      width:30px;
      height:30px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1.0s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s ease-out forwards;
    
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.link_button{
    width:300px;
    height:20px;
    color:white;
    background:rgb(233, 182, 14);
    text-transform: uppercase;
    border-radius: 5px;
    padding:20px;
    margin-left:40%;
    margin-top:100px;
    animation:Moveupfadein 1.6s ease-out forwards;
}
.link_button:hover{
    transition: all 0.5s ease-out 0s;
    background:black;
    cursor:pointer;
}
@keyframes Moveupfadein{
    0% {
        bottom: -100%;
        opacity: 0;
    }
    100% {
        bottom:30%;
        opacity: 1;
    }
}
.menu{
  position: absolute;
  display:flex;
  color:white;
  font-size:18px;
  margin-left:500px;
}
.menu div{
  margin:20px;
  cursor: pointer;
} 
.menu div:hover{
  color:rgb(233, 182, 14);
  transition: all 0.5s ease-out forwards;
}
.menu i{
  margin-top:5px;
  cursor: pointer;
  margin-left:2px;
} 
.menu i:hover{
  color:rgb(233, 182, 14);
  transition: all 0.5s ease-out forwards;
}
.home{
  display: flex;
  right:50%;
}
.black{
  display:none;
  margin-top:50px;
  background:rgb(34, 33, 33);
}
.menu div:hover .black{
  display:block;
}